<div class="dashboard">
  <app-pokemon-types class="dashboard__types" (pokemonTypeClicked)="filterPokemonByType($event)">
  </app-pokemon-types>

  <ng-container>
    <div class="dashboard__card-container">
      <app-pokemon-card [pokemonCard]="pokemon" [pokemonFiltered]="pokemon" class="dashboard__card" *ngFor="let pokemon of pokemon | paginate: {
          itemsPerPage: limitItemOnPage,
          currentPage: page}">
      </app-pokemon-card>
    </div>
  </ng-container>

  <div class="dashboard__display-options">
    <pagination-controls class="dashboard__pagination" (pageChange)="page = $event;"
      (pageBoundsCorrection)="page = ($event)" previousLabel="" nextLabel="">
    </pagination-controls>
  </div>
</div>
