.dashboard {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__display-options {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-around;
    align-items: center;
  }

  &__items-per-page{

  }

  &__number {
    font-family: "Orbitron", sans-serif;
    margin: 0 1rem;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
  }
}
