@import "src/mixins/settings.scss";

.dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__types {
    &--show {
      display: none;
    }
  }

  &__card-container {
    display: flex;
    max-width: 1440px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--hide {
      display: none;
    }
  }

  &__display-options {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-around;
    align-items: center;
  }

  &__number {
    font-family: "Orbitron", sans-serif;
    margin: 0 1rem;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
  }
}

@media (max-width: $breakpoint-tablet) {
  .dashboard {
    max-width: $breakpoint-tablet;
  }
}
