<div class="dashboard">
  <app-pokemon-types class="dashboard__types" [pokemonType]="pokemon" (pokemonTypeClicked)="showPokemonOfType($event)">
  </app-pokemon-types>

  <app-pokemon-card [pokemonCard]="pokemonCard" class="dashboard__card"
    *ngFor="let pokemonCard of pokemon | paginate: {itemsPerPage: 18, currentPage: page, totalItems: totalPokemon}">
  </app-pokemon-card>

  <div class="dashboard__display-options">
    <pagination-controls (pageChange)="page = $event; pokemon = []; getPokemonPerPage()" class="dashboard__pagination">
    </pagination-controls>
  </div>
</div>