.header {
  padding: 1rem;
  background-color: var(--red);
  text-align: center;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;

  &__title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--white);
    margin: 0;
  }
}
