<div class="pokemon-card">
  <h3 class="pokemon-card__name">{{pokemonCard.name}}</h3>
  <img src="{{pokemonCard.sprites.front_default}}" alt="{{pokemonCard.name}}" class="pokemon-card__sprite">
  <p class="pokemon-card__index">#{{pokemonCard.id}}</p>
  <div class="pokemon-card__data">
    <div class="pokemon-card__types-container" *ngIf="pokemonCard">
      <span class="pokemon-card__filtered pokemon-card__type pokemon--{{pokemonCard.type[i]}}"
        *ngFor="let types of pokemonCard.type; let i = index">
        {{pokemonCard.type[i]}}
      </span>
    </div>
  </div>
</div>
