.pokemon-card {
  background: lighten($color: #fbd743, $amount: 20%);
  border-radius: 12px;
  padding: 0.5rem;
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border: 0.5rem solid var(--yellow);
  margin: .5rem;

  &__name {
    text-transform: uppercase;
    letter-spacing: -1.5px;
    font-size: 1.5rem;
    margin: 0;
  }

  &__sprite {
    margin: 0.5rem 0;
  }

  &__data {
    text-align: center;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
  }

  &__index {
    font-weight: 700;
    margin: 0.5rem 0;
  }

  &__types-container {
    display: flex;
  }

  &__type {
    padding: 0.5rem;
    color: var(--white);
    border-radius: 8px;
    margin: 0.25rem;
  }
}
