$white: #ffffff;
$yellow: #fbd743;
$red: #ff1f1f;
$light-blue: #5db9ff;
$dark-blue: #363b81;
$gray: #e9e9e9;
$light-gray: #f3f0f1;
$dark-gray: #65625c;
$black: #000000;

// Pokemon Types
$normal: #a8a77a;
$fire: #ee8130;
$water: #6390f0;
$grass: #7ac74c;
$electric: #f7d02c;
$ice: #96d9d6;
$fighting: #c22e28;
$poison: #a33ea1;
$ground: #e2bf65;
$flying: #a98ff3;
$psychic: #f95587;
$bug: #a6b91a;
$rock: #b6a136;
$ghost: #735797;
$dark: #705746;
$dragon: #6f35fc;
$steel: #b7b7ce;
$fairy: #d685ad;

// Reset button
$all: $white;
