@import "src/mixins/settings.scss";

.pokemon-types {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 685px;
    margin: 1.5rem 0;

    &__type {
        margin: .5rem;
        padding: .5rem;
        text-transform: capitalize;
        border-radius: 8px;
        font-family: "Open Sans", sans-serif;
        color: $white;
        transition: all 250ms;
        box-shadow: rgba(0, 0, 0, 0) 0 2px 4px;
        &:hover {
          transform: translateY(-2px);
          box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
          text-decoration: none;
          transition-duration: .15s, .15s;
        }
        &:active {
          box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
        }
        &:focus {
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        }
    }
}
