/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=Orbitron:wght@900&family=Noto+Sans:wght@400;500;600;700;800&family=Oswald:wght@700&family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap");


@import "src/mixins/settings.scss";
@import "src/mixins/colors.scss";

* {
  box-sizing: border-box;

  body {
    margin: 0;
    background-color: $light-gray;
  }

  h3 {
    font-family: 'Noto Sans', sans-serif;
  }

  .pokemon {
    &--normal {
      background-color: $normal;
    }
    &--fire {
        background-color: $fire;
    }
    &--water {
        background-color: $water;
    }
    &--grass {
        background-color: $grass;
    }
    &--electric {
        background-color: $electric;
    }
    &--ice {
        background-color: $ice;
    }
    &--fighting {
        background-color: $fighting;
    }
    &--poison {
        background-color: $poison;
    }
    &--ground {
        background-color: $ground;
    }
    &--flying {
        background-color: $flying;
    }
    &--psychic {
        background-color: $psychic;
    }
    &--bug {
        background-color: $bug;
    }
    &--rock {
        background-color: $rock;
    }
    &--ghost {
        background-color: $ghost;
    }
    &--dark {
        background-color: $dark;
    }
    &--dragon {
        background-color: $dragon;
    }
    &--steel {
        background-color: $steel;
    }
    &--fairy {
        background-color: $fairy;
    }
    &--all {
      background-color: $all;
      color: $black !important;
      width: 125px;
    }
  }
}
